language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache/files
        - $HOME/symfony-bridge/.phpunit

env:
    global:
        - TEST_COMMAND="composer test"
        - SYMFONY_PHPUNIT_VERSION="8.5"
        - SYMFONY_PHPUNIT_DIR="$HOME/symfony-bridge/.phpunit"
        - SYMFONY_DEPRECATIONS_HELPER="max[self]=0"

branches:
    except:
        - /^analysis-.*$/
        - /^patch-.*$/

matrix:
    fast_finish: true
    include:
          # Minimum supported Symfony version and latest PHP version
        - php: 7.3
          env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest" SYMFONY_DEPRECATIONS_HELPER="weak"
        - php: 7.4
          env: COMPOSER_FLAGS="--prefer-stable --prefer-lowest" SYMFONY_DEPRECATIONS_HELPER="weak"

          # Test the latest stable release
        - php: 7.3
        - php: 7.4
          env: COVERAGE=true TEST_COMMAND="composer test-ci"

          # Test LTS versions
        - php: 7.3
          env: DEPENDENCIES="dunglas/symfony-lock:^3"
        - php: 7.3
          env: DEPENDENCIES="dunglas/symfony-lock:^4"
        - php: 7.3
          env: DEPENDENCIES="dunglas/symfony-lock:^5"

          # Latest commit to master
        - php: 7.3
          env: STABILITY="dev"

    allow_failures:
          # dev stability is allowed to fail.
        - env: STABILITY="dev"

before_install:
    - if [[ $COVERAGE != true ]]; then phpenv config-rm xdebug.ini || true; fi
    - if ! [ -z "$STABILITY" ]; then composer config minimum-stability ${STABILITY}; fi;
    - if ! [ -v "$DEPENDENCIES" ]; then composer require --no-update ${DEPENDENCIES}; fi;

install:
    - composer update ${COMPOSER_FLAGS} --prefer-dist --no-interaction
    - vendor/bin/simple-phpunit install

script:
    - composer validate --strict --no-check-lock
    - $TEST_COMMAND
